<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	
	default-lazy-init="true"
	
	>


<!-- dao -->
<bean class="com.pradeep.spring.dao.MapEmployeeDaoImpl" id="employeeDao">
</bean>

<!-- service -->
<bean class="com.pradeep.spring.service.EmployeeServiceImpl" id="employeeService">
<constructor-arg name="employeeDao"  ref="employeeDao"/>
</bean>

<!-- emsMainApp -->
<bean class="com.EmsMainApp"   id="emsMainApp"  init-method="init"   destroy-method="destroy">
<property name="es"  ref="employeeService"/> <!-- setEs(employeeService) -->
</bean>


</beans>
